<div class="container">
  <!-- <a routerLink="/students">
      <i class="fa-solid fa-circle-arrow-left"></i>
      Back</a
    > -->

  <form (submit)="updateItem(item._id)">
    <h2>Edit item</h2>
    <div hidden>
      <label for="_id">ID</label><br />
      <input type="text" id="_id" name="_id" />
    </div>
    <div>
    </div>
    <div>
      <label for="item_name">Name</label><br />
      <input
        type="text"
        id="item_name"
        #item_name
        name="item_name"
        [(ngModel)]="updateInfo.item_name"
      />
    </div>
    <div>
      <label for="price">Price</label><br />
      <input
        type="number"
        id="price"
        name="price"
        [(ngModel)]="updateInfo.price"
        #price
      />
    </div>
    <div>
      <label for="quantity">Quantity</label><br />
      <input
        type="number"
        id="quantity"
        #quantity
        name="quantity"
        [(ngModel)]="updateInfo.quantity"
      />
    </div>
    <div>
      <input type="submit"/>
    </div>
  </form>
</div>
