<div style="text-align: right">
  <button (click)="onClick()">New category</button>
</div>
<div class="card">
  <button *ngFor="let category of categories">
    <p routerLink="/shopping_list/{{ category._id }}">
      {{ category.category }}
    </p>
    <div class="icons">
      <a routerLink="/category_edit/{{ category._id }}">
        <i class="fa-solid fa-file-pen"></i>
      </a>
      <a (click)="deleteItem(category._id)">
        <i class="fa-solid fa-trash-can"></i>
      </a>
    </div>
  </button>
</div>

<div class="container" *ngIf="isShow">
  <div class="shopping-form">
    <form (submit)="onSubmit()" [formGroup]="addList" action="">
      <h1>Add New Item</h1>
      <label for="">Item Name</label>
      <input type="text" name="category" formControlName="category" />

      <button type="submit">Add Item</button>
    </form>
  </div>
</div>
