<div class="card" *ngFor="let category of categories">
    <button>
      <p routerLink="/shopping_list/{{category._id}}">{{category.category}}</p>
      <div class="icons">
        <a routerLink="/edit_category">
          <i class="fa-solid fa-file-pen"></i>
        </a>
        <a href="#">
          <i class="fa-solid fa-trash-can"></i>
        </a>
      </div>
    </button>
</div>

<div class="container">
  <form action="">
    <h2>Edit category</h2>
    <div hidden>
      <label for="_id">ID</label><br />
      <input type="text" id="_id" name="_id" />
    </div>
    
    <div>
      <label for="category">Category name</label><br />
      <input type="text" id="category" name="category" />
    </div>
    
    <div>
      <button>
        Update category
      </button>
    </div>
  </form>
</div>